<% layout('layout') -%>

<div class="container-fluid">
   <h1 class="mt-4"></h1>
   <div class="row">
    <div class="col-xl-6">
        <div class="card text-center">
            <div class="card-header">
                <i class="fas fa-info-circle fa-2x"></i><strong> SCQ Notifyer</strong>
            </div>
            <div class="card-body">
              <p class="card-text">Welcome to SCQ Notifyer!</p>
              <p class="card-text">SCQ Notification of alerts & incidences to the city council.</p>
              <p class="card-text">Did you see a problem in your city?</p>
              <p class="card-text">Use the @SCQNLoisBot Telegram Bot to upload incidences and be part of the project. Take a picture, describe the problem, send the location and upload a new alert.</p>
            </div>
        </div>
    </div>
</div>
</div>
