<% layout('layout') -%>
<% script('js/info.js') %>

<div class="container-fluid">
 <h1 class="mt-4"></h1>
 <div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header text-center">
                <i class="fas fa-info fa-2x"></i> Project Info
            </div>

            <div class="card-body">
                <h5 class="card-title text-center">SCQNotifyer</h5>
                <p class="card-text">
                    SCQNotifyer is an application that allows any citizen to report incidents found in the city.<br/> For Example:
                    <ul>
                        <li>Broken bins</li>
                        <li>Potholes in the streets</li>
                        <li>Lights that don't work</li>
                        <li>Sewer in poor condition</li>
                        <li>Suggestions for changes</li>
                        <li>Signals dropped or in poor condition, incorrect signals...</li>
                        <li>Traffic lights failure</li>
                        <li>Fallen trees</li>
                        <li>Damage to gardens</li>
                        <li>And more...</li>
                    </ul></p>
                </div>
            </div>
        </div>
    </div>
</div>
