<% layout('layout') -%>
<% script('js/municipalities.js') %>

<div class="container-fluid">
    <h1 class="mt-4"></h1>
    <div class="row">
        <div class="col-xl-12">
            <div class="card text-center">
                <div class="card-header">
                    <i class="fas fa-info-circle fa-2x"></i><strong> Municipalities</strong>
                </div>
                <div class="card-body">
                    <form class="d-none d-md-inline-block form-inline col-xl-12">
                        <div class="input-group">
                            <select class="form-control col-xl-6" id="municipality" name="municipality">
                                <% for(m in municipalities) { %>
                                    <option value="<%-municipalities[m].ine %>"><%-municipalities[m].name %></option>
                                <% } %>
                            </select>
                            <input type="submit" class="btn btn-primary col-xl-2" id="search" value="Search">
                        </div>
                    </form>

                    <div id="municipalityinfo" class="col-xl-12 mt-2"></div>
                    <div id="municipalityincidences" class="col-xl-12 mt-2"></div>

                </div>
            </div>
        </div>
    </div>
</div>
